.services{
    background-color: #111;
    position: relative;
    /* margin-bottom: 100px; */
}
.services-block{
    color: #fff;
    display: flex;
    justify-content: space-between;
    gap: 200px;
    padding: 100px 0 120px 0;
}
.services-main-block{
    display: flex;
    gap: 20px;
    position: relative;
}
.services-item{
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 30px;
}
.services-titl{
    font-size: 46px;
    font-weight: 700;
    margin-bottom: 30px;
}
.services-titl span{
    color: #0045ff;
}
.services-text{
    font-size: 16px;
    font-weight: 500;
    word-spacing: 4px;
    line-height: 1.4;
    width: 130%;
}
.img-ser{
    width: 890px;
    position: absolute;
    left: -91px;
    bottom: -80px;
}

.services-block-r{
    width: 240px;
    height: 265px;
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 0 40px 5px rgb(0 0 0 / 5%);
    border-radius: 15px;
    margin-bottom: 20px;
}
.services-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.ctad-icons{
    border-radius: 50%;
    background-color: #0045ff;
    padding: 10px 12px;
}
.icon-S{
    font-size: 55px;
   
}
.icon-number{
    font-size: 60px;
    font-weight: 600;
    color: #0045ff;
}
.services-block-item-r{
    font-size: 22px;
    font-weight: 600;
    color: #111;
    margin-bottom: 10px;
}
.services-block-text-r{
    font-size: 16px;
    color: #757F95;
    font-weight: 400;
    line-height: 1.4;
}
.end{
    margin-top: 50px;
}



@media (max-width: 1200px){
    .services-block{
        flex-wrap: wrap;
        gap: 20px;
    }
    .services-l{
        text-align: center;
    }
    .services-item{
        justify-content: center;
    }
    .services-text{
        width: 100%;
    }
    .img-ser {
        width: 667px;
        left: -94px;
        bottom: 171px;
    }
    .services-main-block{
        width: 100%;
        align-items: flex-end;
        justify-content: flex-end;
        position: relative;
        z-index: 2;
    }
}

@media (max-width: 768px){
    .services-block{
        padding: 50px 0;
    }
    .services-l {
        text-align: left;
    }
    .services-item{
        font-size: 16px;
        margin-bottom: 10px;
        justify-content: flex-start
    }
    .services-titl {
        font-size: 35px;
        margin-bottom: 10px;
    }
    .services-text{
        font-size: 14px;
    }
}

@media (max-width: 576px){
    .services-block {
        padding: 20px 0;
    }
    .services-item {
        font-size: 14px;
    }
    .services-titl {
        font-size: 30px;
    }
    .services-text {
        font-size: 10px;
    }
    .icon-S {
        font-size: 50px;
    }
    .services-block-r {
        width: 224px;
        height: 254px;
        background-color: #fff;
        padding: 10px;
        box-shadow: 0 0 40px 5px rgb(0 0 0 / 30%);
        border-radius: 15px;
        margin-bottom: 20px;
    }
    .img-ser {
        width: 400px;
        left: -46px;
        bottom: 482px;
    }

    .services-main-block{
        flex-wrap: wrap;
        justify-content: center;
    }

    .services-block-item-r {
        font-size: 20px;
    }
    .services-block-text-r{
        font-size: 14px;
    }
}