.payments{
    padding-top: 50px;
}
.payment-block{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 50px;
}

.payment-main-block{
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 40px 5px rgb(0 0 0 / 15%);
    margin-bottom: 50px;
}
.payment-item{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
}

.payment-menu{
    display: flex;
    gap: 40px;
}
.payment-menu-l{
    width: 150%;
}
.payment-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.payment-span{
    display: flex;
    gap: 20px;
}
.payment-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    color: #fff;
    padding: 15px 20px;
    transition: all .5s;
    text-transform: capitalize;
    position: relative;
    border-radius: 13px;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
    border: none;
    background: #0045ff;
    box-shadow: 0 0 40px 5px rgb(0 0 0 / 30%);
    width: 40%;
}
.payment-button:hover{
    background-color: black;
}

.payment-menu-r img{
    width: 100%;
    border-radius: 15px;
}

@media (max-width: 992px){
    .payment-menu{
        flex-wrap: wrap;
    }
    .payment-menu-l{
        order: 1;
    }
    .payment-button{
        width: 29%;
    }
}

@media (max-width: 768px){
    .payment-button {
        width: 40%;
    }
}

@media (max-width: 576px){
    .payment-block{
        flex-wrap: wrap;
    }

    .payment-menu-l {
        width: 100%;
    }
    .payment-span {
        flex-wrap: wrap;
    }

    input, textarea {
        width: 100%;
    }
    .payment-button {
        width: 63%;
    }
}