nav{
    position: fixed;
    width: 100%;
    font-family: "Roboto";
    margin-bottom: 100px;
    z-index: 999;
}
.nav-top{
    background-color: black;
    padding: 10px 100px;
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
    font-family: "Arimo", sans-serif;
}



@media (max-width: 992px){
    .nav-top{
        display: none;
    }
}

.nav-top::before{
    content: "";
    position: absolute;
    background: #0d6efd;
    clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
    width: 15%;
    top: -50px;
    left: 0;
    bottom: 72px;
}
.nav-top::after{
    content: "";
    position: absolute;
    background: #0d6efd;
    clip-path: polygon(25% 1%, 100% 0, 100% 100%, 0% 100%);
    width: 15%;
    top: -50px;
    right: 0;
    bottom: 72px;
    /* z-index: 1; */
}
.nav-l{
    display: flex;
    align-items: center;
    gap: 25px;
}
.tel{
    display: flex;
    align-items: center;
    gap: 5px;
    color: #0d6efd;
}
a{
    text-decoration: none;
    font-size: 16px;
    display: flex;
}
a span{
    color: #fff;
}
.icons{
    width: 20px;
    height: 20px;
}
.ic{
    margin-right: 5px;
    text-align: center;
}
.nav-r{
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-r .nav-icons{
    color: #fff;
    transition: 0.8s all ease;
    display: flex;
    align-items: center;
}
.nav-r a:hover{
    color: #0d6efd;
}
.nav-icons-r{
    display: flex;
    align-items: center;
    gap: 5px;
}
.sticky{
    display: none;
    transition: 2s all ease;
}


.navbar-block{
    display: flex;
    justify-content: space-between;
    /* gap: 150px; */
    align-items: center;
    background-color: #fff;
    padding: 15px 100px;
    position: relative;
    font-family: "Arimo", sans-serif;
    box-shadow: 0 0 40px 5px rgb(0 0 0 / 10%);
}
.navbar-block .logo img{
    width: 84px;
    height: 32px;
}
.navbar-block .nav-link{
    position: relative;
    font-size: 18px;
    color: black;
    font-weight: 600;
    text-decoration: none;
    transition: 0.4s all ease;
}
.navbar-block .nav-link:hover{
    color: #0d6efd;
}
.nav-label{
    position: relative;
    margin-left: 50px;
}
.nav-link.active .active-input{
    display: none;
}

.nav-inp{
    padding: 12px;
    font-family: "Arimo", sans-serif;
}
.nav-inp::placeholder{
    color: black;
    font-family: "Arimo", sans-serif;
}
.nav-btn{
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 17px;
    border: none;
    background-color: #fff;
}
.shop{
    width: 22px;
    height: 22px;
    color: black;
    transition: 0.5s all ease;
}
.shop:hover{
    color: #0d6efd;
}
.navbar-block span{
    position: absolute;
    right: -8px;
    top: -6px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    font-size: 12px;
    border-radius: 50px;
    background: #0d6efd;
    color: #fff;
}

.navbar-block .navigeyshn{
    display: flex;
}
.navbar-block .navigeyshn{
    display: flex;
    align-items: center;
}
.navbar-block .navigeyshn .navs-link{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-right: 50px;
}


@media (max-width: 992px){
    .navbar-block .navigeyshn .navs-link{
        display: none;
    }
}

.navbar-block .navigeyshn .search-shop{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 50px;
}
.theme-btn{
    font-size: 16px;
    color: #fff;
    padding: 12px 20px;
    transition: all .5s;
    text-transform: capitalize;
    position: relative;
    border-radius: 13px;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
    border: none;
    background: #0d6efd;
    box-shadow: 0 0 40px 5px rgba(42, 89, 242, 0.05);
    transition: 0.6s ease;
    /* z-index: 1; */
}
.theme-btn:hover{
    background-color: black;
    box-shadow: 0 0 40px 5px rgb(0 0 0 / 30%);
    transform: rotateX(50%);
}
.plus{
    margin-right: 5px;
}
.navbar-block .nav-link.active{
    color: #0d6efd;
}
.hamburger{
    display: none;
}

.hamburger{
    display: none;
}
.hamburger-icon{
    font-size: 40px;
    cursor: pointer;
    color: black;
}

@media (max-width: 1200px){
    .navbar-block .navigeyshn .navs-link{
        display: none;
    }
     .navbar-block .navigeyshn .navs-link.active-input{
        position: absolute;
        display: block;
        padding: 30px;
        top: 80px;
        left: 0;
        background-color: #fff;
        z-index: 999;
        width: 100%;
        height: 250px;
        color: black;
    } 
    .navbar-block .navigeyshn .navs-link.active-input .nav-link{
        color: black;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 10px;
    }
    .hamburger{
        display: block;
    }
    .navbar-block{
        justify-content: space-between;
    }

    .main-block-r img{
        position: absolute;
        width: 800px;
        right: -63px;
        bottom: -180px;
    }
}

@media (max-width:1400px){
    .navbar-block .navigeyshn .navs-link {
        gap: 20px;
        margin-right: 20px;
    }
    .navbar-block .nav-link{
        font-size: 15px;
    }
}

@media (max-width: 992px){
    .navbar-block{
        border-bottom: 1px solid #e9e9e9;
    }

    .navbar-block .navigeyshn .search-shop{
        gap: 80px;
    }
    .hamburger{
        display: block;
    }
} 

@media (max-width: 768px){
    .navbar-block{
        gap: 40px;
        padding: 15px 50px;
        border-bottom: 1px solid #e9e9e9;
    }
    .navbar-block .navigeyshn .search-shop {
        gap: 45px;
        margin-right: 0;
    }
    
}


@media (max-width: 576px){
    .nav-label {
        display: none;
    }

    .navbar-block .navigeyshn .navs-link.active-input{
        top: 68px;
    }
}

